* {
    user-select: none;
}

.navbar .navbar-brand img {
    vertical-align: text-bottom;
    height: 28px;
    margin-right: 6px;
    filter: invert(1); 
}

#toast-zone {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index:999;
}

#toast-zone > .toast {
    width: 20vw;
    max-width: 80vw;
}

#toast-zone > .toast > .toast-header {
    color: inherit;
    background-color: inherit;
    border-bottom: none;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

#toast-zone > .toast > .toast-header > img {
    filter: invert(1);
    margin-right: 10px;
}

#toast-zone > .toast > .toast-header > .close {
    color: inherit;
    opacity: 1;
    margin-top: -0.28rem;
    margin-right: -0.28rem;
}

#toast-zone > .toast > .toast-body {
    padding-top: 0;
}

#toast-zone > .toast > .toast-body:empty {
    display: none;
}

main > .row:nth-child(1) {
    min-height: calc(100vh - 56px - 150px);
}

main > .row:nth-child(2) {
    height: 150px;
}

.panel > .btn-toolbar {
    background-color: #DDD;
    padding: 8px 16px;
    height: 50px;
}

#panel-control > .btn-toolbar {
    margin: 0 -15px;
}

.btn > img {
     filter: invert(1);
     margin-top: -4px;
     width: 16px;
}

.btn > img + span {
     margin-left: 6px;
}

.dropdown-item {
    cursor: pointer;
}

img.flip {
    transform: scaleX(-1);
}

#panel-control > section {
    text-align: center;
    margin: 80px 0;
}

#section-cube-control {
    text-align: center;
}

#section-cube-control .btn-group:nth-child(6) {
    margin: 0 0 0 30px;
}

#section-cube-control .btn-group:nth-child(6) button:nth-child(1) {
    width: 110px;
}

#section-cube-control .btn-group button:nth-child(1) {
    width: 90px;
    margin: 0 0 10px 5px;
    text-align: left;
}

#section-cube-control .btn-group button:nth-child(2) {
    margin: 0 5px 10px 0;
}

#section-history-changes {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
}

#section-history-changes > span {
    display: inline-block;
    padding: 6px !important;
    margin: 4px 0 0 4px;
    cursor: pointer;
    font-weight: normal;
}

#section-history-changes > span.current {
    background-color: var(--primary) !important;
    color: white;
}

#section-history-changes > span:hover {
    background-color: var(--secondary);
    color: white;
}

#editor {
    position: absolute;
    top: 50px;
    bottom: 300px;
    width: 100%;
    overflow-y: scroll;
}

#logger {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    font-variant-ligatures: no-common-ligatures;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    white-space: pre;
    overflow-y: scroll;
    overflow-x: auto;
    background-color: #f0f0f0;
    padding: 12px;
    border-top: 1px solid #dee2e6 !important;
}

#logger * {
    user-select: text;
}

#logger > .log.text-info {
    color: black !important;
}

#logger > .log.text-success, #logger > .log.text-warning, #logger > .log.text-danger {
    font-weight: bolder;
}